<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="source" value="B:\code.base\CSharp\Massive\Input data"/>
  </appSettings>
  <system.serviceModel>    
    <client>
      <endpoint address="http://localhost:62197/Service.svc" 
                binding="basicHttpBinding"
                contract="IService" />
    </client>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>